body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
  
  overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */
 
}

nav{
  position: sticky;
  top: 0;
}
a
{
  text-decoration: none;
  color: white;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: blue;
}

div#infojoueur{

  border: solid;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 230px;
  border-radius: 50px;

}
#cssSlider {
  width: 800px;
  height: 500px;
  overflow: hidden;
  margin-left: 400px;
  border: 10px solid black;
}

#sliderImages {
  width : 4000px;
  height: 500px;
  overflow: hidden;
  
 
  animation: slide 25s infinite;
  -moz-animation: slide 25s infinite;
  -webkit-animation: slide 25s infinite;
  -o-animation: slide 25s infinite;
}

#sliderImages img {
  float: left;
}

@keyframes slide{
  0%{margin-left: 0px;}
  17%{margin-left: 0px;}
  20%{margin-left: -800px;}
  37%{margin-left: -800px;}
  40%{margin-left: -1600px;}
  57%{margin-left: -1600px;}
  60%{margin-left: -2400px;}
  77%{margin-left: -2400px;}
  80%{margin-left: -3200px;}
  97%{margin-left: -3200px;}
  100%{margin-left: 0px;}
}

@-moz-keyframes slide{
  0%{margin-left: 0px;}
  17%{margin-left: 0px;}
  20%{margin-left: -800px;}
  37%{margin-left: -800px;}
  40%{margin-left: -1600px;}
  57%{margin-left: -1600px;}
  60%{margin-left: -2400px;}
  77%{margin-left: -2400px;}
  80%{margin-left: -3200px;}
  100%{margin-left: -3200px;}
}

@-webkit-keyframes slide{
  0%{margin-left: 0px;}
  17%{margin-left: 0px;}
  20%{margin-left: -800px;}
  37%{margin-left: -800px;}
  40%{margin-left: -1600px;}
  57%{margin-left: -1600px;}
  60%{margin-left: -2400px;}
  77%{margin-left: -2400px;}
  80%{margin-left: -3200px;}
  100%{margin-left: -3200px;}
}

@-o-keyframes slide{
  0%{margin-left: 0px;}
  17%{margin-left: 0px;}
  20%{margin-left: -800px;}
  37%{margin-left: -800px;}
  40%{margin-left: -1600px;}
  57%{margin-left: -1600px;}
  60%{margin-left: -2400px;}
  77%{margin-left: -2400px;}
  80%{margin-left: -3200px;}
  100%{margin-left: -3200px;}
}


#menuToggle
{
  display: block;
  position: absolute;
  top: 25px;
  right: 25px;
  
  z-index: 1;

  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  color:#232323;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

 table,  tr ,  td 
{
  border: solid 2px white;
  border-collapse: collapse;
}

.photoTab
{
  height:200px;
}

 td 
{
  padding:10px;
}

textarea
{
  height:300px;
  width:300px;
  resize: none;
}

td a 
{
  color:white;
}

.success
{
  color:#48E417;
}

.erreur
{
  color:red;
}

h1
{
  margin-top:0;
  padding-top:40px;
}

#slideDown{
  display:none;
}

#toggleUpdate
{
  cursor:pointer;
}

.carSection
{
  height:200px;
  display: flex;
  margin:20px 20px;
  color:white;
  transition: 0.5s ease;
}

.carSection:hover
{
  background-color: white;
  color:black;
}

.photoSect
{
  height: inherit;
  left:0;
  margin-right: 20px;
  transition: 0.5s ease;
}

.carSection:hover .photoSect
{
  height:120%;
  z-index:10;
}

#blah
{
  height:200px;
}

#pageSP
{
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin:20px;
}