/* MEDIA QUERIES */

/*TAILLE D'ECRAN 200px A 480px*/

@media screen and (min-width: 200px) and (max-width: 480px){

/* MODIFICATION CSS DE LA PROFILE */
.info#infojoueur{
  width: 100%;
  text-align: center;
  float:left;
}
table.order{
  height: 100%;
  width: 100%;
}
table.order td{
  font-size: 10px;
}

/*CSS SLIDER PAGE D'ACCUEIL*/
#cssSlider 
{
  width: 480px;
  height: 250px;
  overflow: hidden;
  margin: 0px auto;
  border-top: 5px solid black;
  border-bottom:  5px solid black.;
}

/*TAILLE TOTALE DU SLIDER*/
#sliderImages {
  width : 2400px;
  height: 250px;
  overflow: hidden;
 
 /*ANIMATION SUR LES DIFFERENTS NAVIGATEURS*/
  animation: slide 25s infinite;
  -moz-animation: slide 25s infinite;
  -webkit-animation: slide 25s infinite;
  -o-animation: slide 25s infinite;
}

/*PARTIE VISIBLE DU SLIDER*/
#sliderImages img {
  float: left;
  width: 480px;
  height: 250px;

}

/*ANIMATION SUR LES DIFFERENTS NAVIGATEURS*/

  
@keyframes slide{
  0%{margin-left: 0px;}
  23%{margin-left: 0px;}
  25%{margin-left: -480px;}
  48%{margin-left: -480px;}
  50%{margin-left: -960px;}
  73%{margin-left: -960px;}
  75%{margin-left: -1440px;}
  98%{margin-left: -1440px;}
  100%{margin-left: -1920px;}
}

@-o-keyframes slide{
0%{margin-left: 0px;}
  23%{margin-left: 0px;}
  25%{margin-left: -480px;}
  48%{margin-left: -480px;}
  50%{margin-left: -960px;}
  73%{margin-left: -960px;}
  75%{margin-left: -1440px;}
  98%{margin-left: -1440px;}
  100%{margin-left: -1920px;}
}

@-webkit-keyframes slide{
  0%{margin-left: 0px;}
  23%{margin-left: 0px;}
  25%{margin-left: -480px;}
  48%{margin-left: -480px;}
  50%{margin-left: -960px;}
  73%{margin-left: -960px;}
  75%{margin-left: -1440px;}
  98%{margin-left: -1440px;}
  100%{margin-left: -1920px;}
}

}

/*TAILLE D'ECRAN 481px A 720px*/
@media screen and (min-width: 481px) and (max-width: 720px){

.info#infojoueur{
  width: 100%;
  text-align: center;
  float:left;
}
table.order{
  height: 100%;
  width: 100%;
}
table.order td{
  font-size: 15px;
}

#cssSlider 
{
  width: 720px;
  height: 450px;
  overflow: hidden;
  margin: 0px auto;
  border-top: 5px solid black;
  border-bottom:  5px solid black.;
}

/*TAILLE TOTALE DU SLIDER*/
#sliderImages {
  width : 3600px;
  height: 450px;
  overflow: hidden;
 
 /*ANIMATION SUR LES DIFFERENTS NAVIGATEURS*/
  animation: slide 25s infinite;
  -moz-animation: slide 25s infinite;
  -webkit-animation: slide 25s infinite;
  -o-animation: slide 25s infinite;
}

/*PARTIE VISIBLE DU SLIDER*/
#sliderImages img {
  float: left;
  width: 720px;
  height: 450px;

}

/*ANIMATION SUR LES DIFFERENTS NAVIGATEURS*/


@keyframes slide{
  0%{margin-left: 0px;}
  23%{margin-left: 0px;}
  25%{margin-left: -720px;}
  48%{margin-left: -720px;}
  50%{margin-left: -1440px;}
  73%{margin-left: -1440px;}
  75%{margin-left: -2160px;}
  98%{margin-left: -2160px;}
  100%{margin-left: -2880px;}

}

@-webkit-keyframes slide{
  0%{margin-left: 0px;}
  23%{margin-left: 0px;}
  25%{margin-left: -720px;}
  48%{margin-left: -720px;}
  50%{margin-left: -1440px;}
  73%{margin-left: -1440px;}
  75%{margin-left: -2160px;}
  98%{margin-left: -2160px;}
  100%{margin-left: -2880px;}

}

@-o-keyframes slide{
  0%{margin-left: 0px;}
  23%{margin-left: 0px;}
  25%{margin-left: -720px;}
  48%{margin-left: -720px;}
  50%{margin-left: -1440px;}
  73%{margin-left: -1440px;}
  75%{margin-left: -2160px;}
  98%{margin-left: -2160px;}
  100%{margin-left: -2880px;}

}
}

/*TAILLE D'ECRAN 721px A 1024px*/
@media screen and (min-width: 721px) and (max-width: 1024px){

.info#infojoueur{
  width: 100%;
  text-align: center;
  float:left;
}

table.order{
  height: 100%;
  width: 100%;

}

#cssSlider 
{
  width: 1024px;
  height: 650px;
  overflow: hidden;
  margin: 0px auto;
  border-top: 5px solid black;
  border-bottom:  5px solid black.;
}

/*TAILLE TOTALE DU SLIDER*/
#sliderImages {
  width : 5120px;
  height: 650px;
  overflow: hidden;
 
 /*ANIMATION SUR LES DIFFERENTS NAVIGATEURS*/
  animation: slide 25s infinite;
  -moz-animation: slide 25s infinite;
  -webkit-animation: slide 25s infinite;
  -o-animation: slide 25s infinite;
}

/*PARTIE VISIBLE DU SLIDER*/
#sliderImages img {
  float: left;
  width: 1024px;
  height: 650px;

}

/*ANIMATION SUR LES DIFFERENTS NAVIGATEURS*/


@keyframes slide{
  0%{margin-left: 0px;}
  23%{margin-left: 0px;}
  25%{margin-left: -1024px;}
  48%{margin-left: -1024px;}
  50%{margin-left: -2048px;}
  73%{margin-left: -2048px;}
  75%{margin-left: -3072px;}
  98%{margin-left: -3072px;}
  100%{margin-left: -4096px;}
}

@-webkit-keyframes slide{
  0%{margin-left: 0px;}
  23%{margin-left: 0px;}
  25%{margin-left: -1024px;}
  48%{margin-left: -1024px;}
  50%{margin-left: -2048px;}
  73%{margin-left: -2048px;}
  75%{margin-left: -3072px;}
  98%{margin-left: -3072px;}
  100%{margin-left: -4096px;}

}

@-o-keyframes slide {
  0%{margin-left: 0px;}
  23%{margin-left: 0px;}
  25%{margin-left: -1024px;}
  48%{margin-left: -1024px;}
  50%{margin-left: -2048px;}
  73%{margin-left: -2048px;}
  75%{margin-left: -3072px;}
  98%{margin-left: -3072px;}
  100%{margin-left: -4096px;}
}
}

@media screen  and (max-width: 1470px){
  .infosCar
  {
    flex-wrap: wrap;
  }
}


@media screen  and (max-width: 1470px){
  .photOrder
  {
    height:2%;
  }
}